
<% obj.each do |article| %>
    <br>
    <div class="col-xs-8 col-xs-offset-2">

      <div class="article-title">
        <b><%= link_to article.title, article_path(article) %> </b>
      </div>
      <div class="article-body">
        <%= truncate(article.description, length: 100) %>
        <div class="article-meta-details">
          <small>Created by: <%= article.user.username if article.user%>,
            <%= time_ago_in_words(article.created_at) %> ago,
            last updated: <%= time_ago_in_words(article.updated_at) %> ago</small>
        </div>
      </div>
      <div class="article-actions">
        <%= link_to "Edit this article", edit_article_path(article), class: "btn btn-primary" %>
        <%= link_to "Delete this article", article_path(article), method: :delete,
                    data: { confirm: "Are you sure you want to delete the article?"},
                    class: "btn btn-danger" %><br>
      </div>
    </div>
    <br>
<% end %>
