
<% if @article.errors.any? %>
  <div class="alert alert-danger">
  <p>The following errors were encountered while creating new article:</p>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  </div>
<% end %>
<%=form_for @article do |f| %>
  <p>
    <%= f.label :title %>
    <br/>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :description %>
    <br/>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>

