<h1>Articles Homepage</h1>
<p>
  <%= link_to "Add new article", new_article_path %>
</p>
<ul>
  <% @articles.each do |article| %>
    <li>
      <br>
      <div>
        <p>
          <b class="card-header">
            <%= link_to article.title, article_path(article) %>
          </b>
        </p>
      </div>
      <div>
        <p>
          <%= article.description %>
        </p>
        <p>
          Created by: <b><%= article.user.username.upcase %></b>, <%= time_ago_in_words(article.created_at) %> ago.<br>
          Last updated: <%= time_ago_in_words(article.updated_at) %> ago.
        </p>
      </div>
      <div>
        <p>
          <%= link_to "Edit article", edit_article_path(article) %> || <%= link_to "Delete", article_path(article), method: :delete, data: {confirm: "Are you sure?"} %>
        </p>
      </div>
      <br>
    </li>
  <% end %>
</ul>
