<h2>Create new Article</h2>

<!--<form method="post" action="submit">-->
<!--  <label>Title</label><br><br>-->
<!--  <input type="text" placeholder="Title of article" ><br><br><br>-->
<!--  <label>Description</label><br><br>-->
<!--  <textarea rows="10" cols="100" placeholder="Description for article"></textarea><br><br><br><br>-->
<!--  <input type="submit">-->
<!--</form>-->

<%=form_for @article do |f| %>
  <p>
    <%= f.label :title %>
    <br/>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :description %>
    <br/>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>