
<% if @user.errors.any? %>
  <div class="alert alert-danger">
  <p>The following errors were encountered while updating user:</p>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  </div>
<% end %>
<%=form_for @user do |f| %>
  <p>
    <%= f.label :Username %>
    <br/>
    <%= f.text_field :username %>
  </p>

  <p>
    <%= f.label :Email %>
    <br/>
    <%= f.email_field :email %>
  </p>

  <p>
    <%= f.label :Password %>
    <br/>
    <%= f.text_field :password %>
  </p>

  <p>
    <%= f.submit(@user.new_record? ? "Signup" : "Update") %>
  </p>

<% end %>


<p>
  <%= link_to "Cancel", articles_path, class: "btn btn-dark"%>
</p>
